@use 'variaveis';

.button {
    padding: 12px;
    font-size: 16px;
    background-color: variaveis.$corBotao;
    border-radius: 10px;
    text-align: center;
    white-space: nowrap;
    margin-left: 30px;

    &--primary {
        font-weight: bold;
        color: variaveis.$corBrancoPadrao;
    }

    @media (max-width: 640px) {
        display: block;
        width: 100%;
        margin: 0px;
    }

    @media (min-width: 640px) and (max-width: 1024px) {
        display: flex;
        align-items: center;
    }
}