.event-food {
    padding: 80px 300px;
    background-image: linear-gradient(180deg, #6b6b6b, #6b6b6b, #6b6b6b);
    text-align: center;


    &__title {
        margin-bottom: 10px;

        & h3 {
            font-family: "Protest Revolution", sans-serif;
            font-weight: 300;
            font-size: 36px;
        }
    }

    &__container {
        display: flex;
        justify-content: center;
    }

    &__images {
        width: auto;
        margin: 10px;

        & img {
            height: 240px;
            border-radius: 10px;
            transition-duration: 0.3s;
            opacity: .9;

            &:hover {
                transform: scale(1.01);
                opacity: 1;
            }
        }
    }

    @media (max-width: 640px) {
        padding: 60px 0px;

        &__title {
            text-align: center;

            & h3 {
                font-size: 32px;
            }
        }

        &__container {
            display: block;
            text-align: center;
        }

        &__images {
            width: auto;
            margin: 10px;

            & img {
                height: 180px;
                border-radius: 15px;
            }
        }
    }

    @media (min-width: 640px) and (max-width: 1024px) {
        padding: 60px 0px;

        &__title {
            text-align: center;

            & h3 {
                font-size: 32px;
            }
        }

        &__container {
            display: flex;
            text-align: center;
        }

        &__images {
            width: auto;
            margin: 10px;

            & img {
                height: 180px;
                border-radius: 15px;
            }
        }
    }
}