// Cores textos
$corBrancoPadrao: #fff;
$corPretoPadrao: #000;

// Cores background
$corBotao: #117E86;
$corFundoSecundaria: rgb(209, 123, 10);

// Fontes
$fontePrincipal: "Noto Sans JP", sans-serif;
$fonteSecundaria: "Protest Revolution", sans-serif;